# === Executables without extension ===
# Ignore ALL files that have NO extension
*
#But not directories
!*/
#do not ignore  files with an extension
!*.*
    
# compile binaries and objects
*.o
*.obj
*.exe
*.out
*.bin
*.a
*.so
*.dll

# Do not ignore source code files 
!*.c
!*.h
!*.md
!Makefile
!.gitignore
!README*
!LICENCE

#Build directories

build/
bin/
out/

#IDE and os files

.vscode/
.idea/
.DS_Store
Thumbs.db

