# compile binaries and objects
*.o
*.obj
*.exe
*.out
*.bin
*.a
*.so
*.dll

# Executabales without extension 
*
\#
!*.c
!*.h
!*.md
!Makefile
!.gitignore
!README*
!LICENCE

#Build directories

build/
bin/
out/

#IDE and os files

.vscode/
.idea/
.DS_Store
Thumbs.db

